project-4-webhook-queue-processor/workflow-export-1.json
{
  "name": "Webhook Queue Processor (Leads → Google Sheets)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "p04/queue/leads",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "6423fa08-8867-4127-922b-033b6ee10a9d",
      "name": "Ingest Lead Event (POST)",
      "webhookId": "REDACTED_WEBHOOK_ID"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"status\": \"queued\",\n  \"external_id\": \"={{$json.external_id}}\",\n  \"idempotency_key\": \"={{$json.idempotency_key}}\"\n}",
        "options": {
          "responseCode": 202
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        864,
        -96
      ],
      "id": "42397874-3716-4648-a5ba-01422e2588cf",
      "name": "RESP - 202 Accepted (Queued)"
    },
    {
      "parameters": {
        "jsCode": "// 1) Tomamos el body del Webhook\nconst body = $json.body ?? {};\n\n// 2) Helpers\nconst toStr = (v) => (v === undefined || v === null) ? \"\" : String(v);\nconst clean = (v) => toStr(v).trim();\n\n// 3) Campos principales\nconst external_id = clean(body.external_id);\nconst email = clean(body.email).toLowerCase();\nconst country = clean(body.country).toUpperCase();\nconst source = clean(body.source);\n\n// 4) Validación mínima\nconst errors = [];\nif (!external_id) errors.push(\"external_id is required\");\nif (!email) errors.push(\"email is required\");\n\n// 5) Si hay errores, marcamos el item como inválido (luego decidimos qué hacer)\nconst is_valid = errors.length === 0;\n\n// 6) Enriquecemos el evento\nconst event_type = \"lead.new\";\nconst idempotency_key = `${event_type}:${external_id}`;\nconst received_at = new Date().toISOString();\n\n// 7) Output “normalizado”\nreturn [\n  {\n    json: {\n      is_valid,\n      errors,\n      event_type,\n      external_id,\n      idempotency_key,\n      lead: {\n        email,\n        country,\n        source,\n      },\n      raw_payload: body,\n      received_at,\n    },\n  },\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        0
      ],
      "id": "0975622d-546a-46ef-b249-358b73b695bf",
      "name": "Validate & Normalize (Lead Payload)"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "70507721-96a3-44ce-af66-dcbcc6629cff",
              "leftValue": "={{$json.is_valid}}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        416,
        0
      ],
      "id": "871567b6-f6f2-49b9-9ab9-19dfe2d416cf",
      "name": "IF - Payload Valid?"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"status\": \"rejected\",\n  \"errors\": \"={{$json.errors}}\"\n}",
        "options": {
          "responseCode": 400
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        688,
        80
      ],
      "id": "383854e5-2d27-4296-acf3-9910e96a3de0",
      "name": "RESP - 400 Bad Request (Invalid Payload)"
    },
    {
      "parameters": {
        "operation": "upsert",
        "dataTableId": {
          "__rl": true,
          "value": "REDACTED_DATATABLE_ID",
          "mode": "list",
          "cachedResultName": "queue_events",
          "cachedResultUrl": "REDACTED_DATATABLE_URL"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "idempotency_key",
              "keyValue": "={{$json.idempotency_key}}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "idempotency_key": "={{$json.idempotency_key}}",
            "event_type": "={{$json.event_type}}",
            "status": "queued",
            "payload": "={{ JSON.stringify($json.raw_payload) }}",
            "attempts": 0,
            "max_attempts": 5,
            "next_retry_at": "={{$json.received_at}}",
            "created_at": "={{$json.received_at}}",
            "updated_at": "={{$json.received_at}}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "idempotency_key",
              "displayName": "idempotency_key",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "event_type",
              "displayName": "event_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "attempts",
              "displayName": "attempts",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "max_attempts",
              "displayName": "max_attempts",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "next_retry_at",
              "displayName": "next_retry_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "locked_at",
              "displayName": "locked_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "locked_by",
              "displayName": "locked_by",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "payload",
              "displayName": "payload",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "last_error",
              "displayName": "last_error",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "dryRun": false
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        624,
        -96
      ],
      "id": "3ff9e623-a128-4746-b1d7-89945ef5930b",
      "name": "DT - Enqueue Event (Upsert)"
    }
  ],
  "pinData": {},
  "connections": {
    "Ingest Lead Event (POST)": {
      "main": [
        [
          {
            "node": "Validate & Normalize (Lead Payload)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate & Normalize (Lead Payload)": {
      "main": [
        [
          {
            "node": "IF - Payload Valid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - Payload Valid?": {
      "main": [
        [
          {
            "node": "DT - Enqueue Event (Upsert)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "RESP - 400 Bad Request (Invalid Payload)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DT - Enqueue Event (Upsert)": {
      "main": [
        [
          {
            "node": "RESP - 202 Accepted (Queued)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "ba27d587-ea24-49d6-b559-0478b5d82ef2",
  "meta": {
    "instanceId": "REDACTED_INSTANCE_ID"
  },
  "id": "yECaTJB5Nte3EK8r",
  "tags": []
}
