project-1-b2b-lead-management/workflow-export.json
{
  "name": "B2B Lead Management & Sales Assignment System",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "lead-intake",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -208,
        -32
      ],
      "name": "webhook_lead_intake"
    },
    {
      "parameters": {
        "jsCode": "// Los datos del webhook llegan dentro de \"body\"\nconst input = $json.body;\n\nreturn [{\n  email: input.email ? input.email.toLowerCase().trim() : null,\n  phone: input.phone ? input.phone.trim() : null,\n  company: input.company ? input.company.trim() : null,\n  country: input.country ? input.country.toUpperCase().trim() : null,\n  product: input.product ? input.product.toLowerCase().trim() : null,\n  source: input.source || 'web_form'\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        16,
        -32
      ],
      "name": "normalize_lead_fields"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "leftValue": "={{$json.is_valid}}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": "=boolean",
        "options": {
          "ignoreCase": false
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        464,
        -32
      ],
      "name": "validate_required_fields"
    },
    {
      "parameters": {
        "jsCode": "// Tomamos los datos que vienen del nodo anterior (IF)\nconst input = $json;\n\nreturn [{\n  ...input,\n  lead_status: 'new',\n  created_at: new Date().toISOString(),\n  assigned_to: null\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        704,
        -128
      ],
      "name": "enrich_defaults"
    },
    {
      "parameters": {
        "jsCode": "const input = $json;\n\nreturn [{\n  ...input,\n  lead_status: 'invalid',\n  invalid_reason: 'Missing required fields (email, country or product)',\n  created_at: new Date().toISOString()\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        800,
        80
      ],
      "name": "handle_invalid_lead"
    },
    {
      "parameters": {
        "jsCode": "// Nodo: validate_required_fields1\nconst lead = $json;\n\nconst isValid =\n  !!lead.email &&\n  !!lead.country &&\n  !!lead.product;\n\nreturn [{\n  json: {\n    ...lead,\n    is_valid: isValid\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        -32
      ],
      "name": "validate_required_fields1"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const salesPeople = [\n  { name: \"Alice\", country: \"DE\", product: \"wigs\" },\n  { name: \"Bob\", country: \"DE\", product: \"extensions\" },\n  { name: \"Carlos\", country: \"US\", product: \"wigs\" }\n];\n\nlet assignedTo = \"unassigned\";\n\nfor (const s of salesPeople) {\n  if (s.country === $json.country && s.product === $json.product) {\n    assignedTo = s.name;\n    break;\n  }\n}\n\nreturn {\n  ...$json,\n  assigned_to: assignedTo\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        896,
        -128
      ],
      "name": "assign_to_sales"
    },
    {
      "parameters": {
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1072,
        32
      ],
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {},
  "connections": {
    "webhook_lead_intake": {
      "main": [
        [
          {
            "node": "normalize_lead_fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "normalize_lead_fields": {
      "main": [
        [
          {
            "node": "validate_required_fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "validate_required_fields": {
      "main": [
        [
          {
            "node": "enrich_defaults",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "handle_invalid_lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "enrich_defaults": {
      "main": [
        [
          {
            "node": "assign_to_sales",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "validate_required_fields1": {
      "main": [
        [
          {
            "node": "validate_required_fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "handle_invalid_lead": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "assign_to_sales": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "tags": []
}
